
/*logo*/
.logo img{
    width: 200px;
    height: 210;
    float: left;
    padding-left: 40px;
    margin-top: 18px;

}

/*nav-bar*/

.nav-bar{
  
    text-align:left;
}
.nav-bar li{
    float: right;
}

.nav-bar ul{
list-style-type: none;
display: flex;
float: right;
padding-right: 40px;
border-radius: 10px;
border: 10PX;
color: red;
}
.nav-bar ul li{
    padding: 30px;
    margin-top: 10px;
}

.nav-bar ul li a{
    color: white;
  text-decoration: none;
   
   

}
.active, .nav-bar ul li a:hover{
    color: red;
    border-radius: 20px;
}
/*slider images*/


    .h1{
        margin-top: -444px;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 6px blue;
    }
    #pp{
        font-family: sans-serif;
        font-size: 23px;
        text-align: center;
        color: blue;
        text-shadow: 2px 2px 4px white;
    }
    .button{
        text-align: center;
    }
    .butt1 a{
        text-decoration: none;
    }
    .butt2 a{
        text-decoration: none;
    }

    .butt1{
        width: 150px;
        height: 60px;
        color: blue;
        margin-right: 10px;
        border-radius: 8px;
       
        
    }
    
    .butt2{
        width: 150px;
        height: 60px;
        color: blue;
        background-color: red;
        border-radius: 8px;
        
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      color: black;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
    
.active, .butt1 a:hover{
    color: green;
    background-color: aliceblue;
}

.active, .butt2 a:hover{
    color: green;
}


div.img {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10 px;
    margin: 13px;
    float: left;
    width: 300px;
    border-radius: 10px;
}	

div.img img {
    width: 295px;
    height: 245px;
    border-radius: 20px;

}

div.desc {
    padding: 12px;
    text-align: center;
    color: white;
}

.footer{
    background-color: black;
    color: white;
    width: auto;
    height: 100px;
    text-align: center;
    
}

.footer footer p{
    margin-top: 100px;
    padding: 20px;
}
 
/*form field*/

.logos img{
    width: 200px;
    height: 210;
    float: left;
    padding-left: 40px;
    margin-top: 18px;
}
.nav-barr{
    text-align:left;
}
.nav-barr ul{
list-style-type: none;
display: flex;
float: right;
padding-right:40px;
border-radius: 10px;
border: 10PX;


}
.nav-barr ul li{
    padding: 30px;
    margin-top: 10px;
}

.nav-barr ul li a{
    color: blue;
  text-decoration: none;  

}
.active, .nav-barr ul li a:hover{
    color: red;
    border-radius: 20px;
    background-color:white
}

#dv{
    height: 80px;
    background-color: blue;
    text-align: center;
    color: white;
    border-radius: 5px
}

#dv h2{
    padding: 20px;
}
.form{
    background-color: blue;
    color: red;
    border-radius: 10px;
    padding: 60px;
    font-size: 22px;
    box-sizing: border-box;
}
#reg{
    text-align: center;
}

#reg button{
    height: 50px;
    width: 150px;
    background-color: red;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}

#reg
    input[type=register]:hover{ 
        background-color: yellow;  
    }

        /* ABOUT US*/


/*countat us*/
.cont{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont form{
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.cont form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.cont form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}
.cont form input::placeholder{
    color: #ddd;
}
.cont form #lastname,
.cont form #mobile{
    margin-left: 20px;
}
.cont form h4{
    color: #fff;
    font-weight: 300px;
    width: 600px;
    margin-top: 20px;
}
.cont form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    min-width: 600px;
    min-height: 80px;
    min-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.cont form #button{
     border: none;
     background: #fff;
     border-radius: 5px;
     margin-top: 20px;
     font-weight: 600;
     font-size: 20px;
     color: #333;
     width: 100px;
     padding: 0;
     margin-right: 500px;
     margin-bottom: 30px;
     transition: 0.3s;
}

.cont form #button:hover{
     opacity: 0.7;
}

/*section*/

#home{
    display: flex;
    flex-direction: column;
    padding: -0px 200px;
    justify-content: center;
    align-items: center;
    height: 470px;
    top: 0px;
    left: 0px;
}
#home img{
    z-index: -1;
    opacity: 0.4;
}



